<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAO Hackathon 2024</title>
    </head>

    <body>
        <h1>La corsa degli scaffali</h1>
        <img src="{{ url_for('webcam') }}" alt="Webcam Feed" id="video_feed" width="320" height="240">
        <br><br>
        <ul>
            <li><a href="/start" target="_blank">/start</a></li>
            <li><a href="/stop" target="_blank">/stop</a></li>
            <li><a href="/standInit" target="_blank">/standInit</a></li>
            <li><a href="/stand" target="_blank">/stand</a></li>
            <li><a href="/left" target="_blank">/left</a></li>
            <li><a href="/right" target="_blank">/right</a></li>
            <li><a href="/down" target="_blank">/down</a></li>
        </ul>
    </body>
</html>