<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAO Joystick</title>
    </head>

    <body>
       <h2>NAO Joystick</h2>
        <ul>
            <li><a href="/api/movement/start">START</a></li>
            <li><a href="/api/movement/stop">STOP</a></li>
            <li><a href="/api/movement/left">LEFT</a></li>
            <li><a href="/api/movement/right">RIGHT</a></li>
            <li><a href="/api/movement/stand">STAND</a></li>
            <li><a href="/api/movement/standInit">STAND INIT</a></li>
            <li><a href="/api/movement/nao_train_move">START TRAIN</a></li>
            <li><a href="/api/movement/nao_train_move_stop">STOP TRAIN</a></li>
        </ul>
        
    </body>
</html>