.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Allinea in alto */
    width: 90%;
    margin: auto;
	
}


.left_panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-left: 20px;
}
.center_panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-left: 20px;
}


.right_panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    padding-right: 20px;
}

body{
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite; 

}
h1 {
	font-family: "Helvetica";
}
h2 {
	font-family: "Helvetica";
	text-align: center;
	margin-left: 24.5%;
}

.masterdiv {
	display: flex;
	justify-content: center;
}

.mastertitle{
	text-align: center;
	margin-top: 3%;
}

.joystick{
	width: 5%;
	padding: 10px;
	margin: 5px;
}

.button {
	background: #03256C;
	color: #fff;
	text-align: center;
	border-radius: 0.5em;
	padding: 0.6em 3em ;
	border: 0;
	cursor: pointer;
	outline: 0;
	font-weight: 700;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}
.button6 {
	background: #03256C;
	color: #fff;
	text-align: center;
	width: 60px;
	height: 20px;
	border-radius: 20px;
	padding: 0px 0px ;
	border: 0;
	cursor: pointer;
	outline: 0;
	font-weight: 700;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

.button2 {
	background: #92140C;
	color: #fff;
	text-align: center;
	border-radius: 0.5em;
	padding: 0.5em 2em ;
	border: 0;
	cursor: pointer;
	outline: 0;
	font-weight: 700;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;	
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}
.button1 {
	background: #7af80b;
	color: #000000;
	text-align: center;
	border-radius: 0.5em;
	padding: 0.6em 2em ;
	cursor: pointer;
	outline: 0;
	font-weight: 700;
	-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

.webcam {
		width: 320px; /* Larghezza specificata */
		height: 240px; /* Altezza specificata */
		border: 3px solid black; /* Bordo continuo nero */
		margin-left: 39%; /* Spostamento a destra */
		display: block; /* Evita spazi indesiderati */
}