<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Match</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo_v1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Barra superiore -->
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_con_scritta.png') }}" alt="BetterNao Logo">
        </div>
        <div class="top-bar-buttons">
            <button id="home" class="btn btn-logout">Home</button>
            <button id="logout" class="btn btn-logout">Logout</button>
        </div>
    </div>

    <!-- Main -->
    <div class="main-content">
        <h1 class="main-text">Gestione Tribuna</h1>

        <div class="dashboard">
            <div class="joystick-panel">
                <h1 class="text">Gestione Partita</h1>
                <div id="time_1" style="color: black;">00:00</div>
                <div class="mb-4">
                    <button onclick="startTimer()" class="btn btn-volume">Start</button>
                    <button onclick="stopTimer()" class="btn btn-volume">Pausa</button>
                    <button onclick="resetGame()" class="btn btn-volume">Fine Partita</button>
                </div>
                <div class="flex justify-center items-center space-x-8 text-2xl">
                    <div>
                        <div style="color: black;">Audace</div>
                        <button onclick="incrementScore('audace')" class="bg-red-500 text-white px-4 py-2 rounded">+</button>
                    </div>
                    <div id="score" style="color: black;">0:0</div>
                    <div>
                        <div style="color: black;">Ospite</div>
                        <button onclick="incrementScore('ospite')" class="bg-blue-500 text-white px-4 py-2 rounded">+</button>
                    </div>
                </div>
            </div>

            <div class="joystick-panel">
                <h1 class="text">Nao Tribuna</h1>
                <div class = "button-row">
                    <button id="avvio_task_2" class="btn btn-joystick" onclick="avvio_task_2()">Task 2</button>
                    <button id="avvio_counter" class="btn btn-joystick" onclick="avvio_counter()">Avvio Counter</button>
                </div>
                <div class="button-row">
                    <button id="cori" class="btn btn-joystick" onclick="cori()">Cori</button>
                    <button id="posti" class="btn btn-joystick" onclick="seat()">Posti</button>
                    <button id="tempo_match" class="btn btn-joystick" onclick="time_match()">Tempo Match</button>
                    <button id="gol" class="btn btn-joystick" onclick="points()">Points</button>
                </div>
            </div>
        </div>

    </div>


    <!-- Script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function avvio_task_2() {
            fetch("/webcam_aruco")
                .then(res => res.json())
                .then(data => console.log("Risposta API:", data))
                .catch(err => console.error("Errore:", err));
        }

        function avvio_counter() {
            fetch("/nao_touch_head_counter")
                .then(res => res.json())
                .then(data => console.log("Risposta API:", data))
                .catch(err => console.error("Errore:", err));
        }

        function cori(){
            fetch("/nao_cori", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
            }
        function time_match(){
            fetch("/nao_time_match", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
            }
        function seat(){
            fetch("/nao_seat", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
            }
        function points(){
            fetch("/nao_points", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
            }
            // parte score e time
               
        async function updateStatus() {
            const res = await fetch('/api/get_status');
            const data = await res.json();
            document.getElementById('time_1').innerText = data.time_1;
            document.getElementById('score').innerText = `${data.audace}:${data.ospite}`;
            }

        async function startTimer() {
            await fetch('/api/start_timer', { method: 'POST' });
        }

        async function stopTimer() {
            await fetch('/api/stop_timer', { method: 'POST' });
        }

        async function resetGame() {
            await fetch('/api/reset_game', { method: 'POST' });
        }

        async function incrementScore(team) {
            await fetch(`/api/increment_score/${team}`, { method: 'POST' });
        }

        if (window.location.pathname === "/fans") {
            setInterval(updateStatus, 1000);  //milisecond
        }
    </script>

    <!-- Script custom -->
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

</body>
</html>
