<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterNao Control Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barra superiore -->
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_con_scritta.png') }}" alt="BetterNao Logo">
        </div>
        <div class="top-bar-buttons">
            <button id="logout" class="btn btn-logout">Logout</button>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <h1 class="main-text">FOOTBAAL HUB
            <object type="image/svg+xml" data="{{ url_for('static', filename='img/ball.svg') }}"></object>
        </h1>
        <div class="large-buttons-container">
            <button class="large-homebutton"><span>Team</span></button>
            <button class="large-homebutton"><span>Competition</span></button>
            <button id="joystick" class="large-homebutton"><span>Joystick</span></button>
        </div>
    </div>

    <!-- Javascript -->
    <script>
        document.querySelector("#logout").addEventListener("click", function() {
            fetch("/logout", { method: "GET" })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#joystick").addEventListener("click", function() {
            fetch("/joystick", { method: "GET" })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    window.location.href = "/joystick";
                }
            })
            .catch(error => console.error("Errore:", error));
        });
    </script>
</body>
</html>