<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nao Control Panel</title>
    <link rel="website icon" type="png" href="{{ url_for('static', filename='img/logo_v1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Collega il file CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barra superiore -->
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_con_scritta.png') }}" alt="BetterNao Logo">
        </div>
        <div class="top-bar-buttons">
            <div class="btn btn-battery">
                <span id="battery-icon" class="battery-icon">Battery</span>
                <div id="battery-level" class="battery-level"></div>
            </div>
            <button id="volume" class="btn btn-volume">Volume</button>
            <button id="logout" class="btn btn-logout">Logout</button>
        </div>
    </div>


    <!-- Contenuto principale -->
    <div class="main-content">
        <h1 class="main-text">Nao Control Panel</h1>
        <div class="dashboard">
            <div class="joystick-panel">
                <h1 class="text">Joystick</h1>
                <div class="joystick-controls">
                    <button id="start" class="btn btn-joystick">Avanti</button>
                    <div class="joystick-middle">
                        <button id="sinistra" class="btn btn-joystick">Sinistra</button>
                        <button id="stop" class="btn btn-stop">Stop</button>
                        <button id="destra" class="btn btn-joystick">Destra</button>
                    </div>
                    <button id="back" class="btn btn-joystick">Indietro</button>
                    <div class="button-row">
                        <button id="color_eye_button" class="btn btn-joystick">Color Eye</button>
                        <select id="eye_color_dropdown" style="display: none;">
                            <option value="">Seleziona il colore</option>
                            <option value="red_eye">Red Eye</option>
                            <option value="blue_eye">Blue Eye</option>
                            <option value="green_eye">Green Eye</option>
                            <option value="nao_eye">White Eye</option>
                        </select>
                        <button id="wakeup" class="btn btn-joystick">Wakeup</button>
                        <button id="autonomo" class="btn btn-joystick">Vita Autonoma</button>
                        <button id="stand_init" class="btn btn-joystick">Stand Init</button>
                    </div>
                    <div class="button-row">
                        <button id="start_train" class="btn btn-joystick">Start Train</button>
                        <button id="stop_train" class="btn btn-joystick">Stop Train</button>
                        <button id="stand" class="btn btn-joystick">Stand</button>
                    </div>
                    <div class="button-row">
                        <form onsubmit="event.preventDefault(); inviaTestoAlNAOai();">
                            <label for="testoInput_ai">Testo:</label>
                            <input type="text" id="testoInput_ai" name="message_ai" required>
                            <button type="submit" class="btn btn-joystick">Invia al NAO con AI</button>
                        </form>
                    </div>
                    <div class="button-row">
                        <form onsubmit="event.preventDefault(); inviaTestoAlNAO();">
                            <label for="testoInput">Testo:</label>
                            <input type="text" id="testoInput" name="message" required>
                            <button type="submit" class="btn btn-joystick">Invia al NAO</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="joystick-panel">
                <h1 class="text">Webcam</h1>
                <div class="webcam-container">
                    <div id="nao-cam" class="cam-feed active">
                        <img id="webcam-feed-1" src="{{ url_for('webcam') }}" alt="Webcam Feed" class="webcam-feed">
                    </div>
                    <div id="aruco-cam" class="cam-feed">
                        <img id="webcam-feed-2" src="{{ url_for('webcam_aruco') }}" alt="Webcam Feed" class="webcam-feed">
                    </div>
                </div>
                <div class="webcam-controls">
                    <button id="nao-cam-btn" class="cam-btn active"><span>NAO Cam</span></button>
                    <button id="aruco-cam-btn" class="cam-btn"><span>Aruco Cam</span></button>
                </div>
            </div>
        </div>
    </div>

    
    <div id="volume-control" class="volume-control">
        <label for="volume_slider">Volume:</label>
        <input type="range" id="volume_slider" min="0" max="100" value="50" />
        <span id="volume_value">50</span>
    </div>

    <script>
        document.querySelector("#volume").addEventListener("click", function (event) {
            event.stopPropagation();
            const volumeControl = document.querySelector("#volume-control");
            volumeControl.style.display = volumeControl.style.display === "block" ? "none" : "block";
        });

        
        document.addEventListener("click", function () {
            const volumeControl = document.querySelector("#volume-control");
            volumeControl.style.display = "none";
        });

        
                document.querySelector("#volume_slider").addEventListener("input", function () {
            const volume = parseInt(this.value, 10);
            document.querySelector("#volume_value").textContent = volume;

            
        fetch("/set_volume", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ volume_level: volume })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error("Errore nella richiesta");
            }
            return response.json();
        })
        .then(data => {
                console.log("Risposta del server Python 3:", data);
        })
        .catch(error => {
            console.error("Errore:", error);
        });
        });



        document.querySelector("#battery-icon").addEventListener("mouseover", function () {
            const batteryLevelElement = document.querySelector("#battery-level");
            fetch('/nao/battery')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Errore nel recupero del livello di batteria');
                    }
                    return response.json();
                })
                .then(data => {
                    batteryLevelElement.textContent = 'Livello batteria:'+ data.battery_level+'%x';
                    batteryLevelElement.style.display = "block";
                })
                .catch(error => {
                    console.error('Errore durante il recupero:', error);
                    batteryLevelElement.textContent = 'Errore nel recupero.';
                    batteryLevelElement.style.display = "block"; // Mostra il tooltip anche in caso di errore
                });
        });

        document.querySelector("#battery-icon").addEventListener("mouseout", function () {
            const batteryLevelElement = document.querySelector("#battery-level");
            batteryLevelElement.style.display = "none";
        });
        
        document.querySelector("#logout").addEventListener("click", function() {
                fetch("/logout", { method: "GET" })
                .then(response => {
                    if (response.redirected) {
                    window.location.href = response.url;
                    }
                })
                .catch(error => console.error("Errore:", error));
            });

        document.querySelector("#battery-icon").addEventListener("mouseout", function () {
            const batteryLevelElement = document.querySelector("#battery-level");
            batteryLevelElement.style.display = "none";
        });

        
        document.querySelector("#color_eye_button").addEventListener("click", function () {
            const dropdown = document.querySelector("#eye_color_dropdown");
            dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
        });

        document.querySelector("#eye_color_dropdown").addEventListener("change", function () {
            const selectedOption = this.value;
            if (selectedOption !== "") {
                fetch("/api/movement/" + selectedOption, { method: "GET" })
                    .then(response => response.json())
                    .then(data => console.log("Risposta API:", data))
                    .catch(error => console.error("Errore:", error));
            }
        });

        document.querySelector("#wakeup").addEventListener("click", function () {
            fetch("/api/movement/nao_wakeup", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#autonomo").addEventListener("click", function () {
            fetch("/api/movement/nao_autonomous_life", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#stand_init").addEventListener("click", function () {
            fetch("/api/movement/standInit", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#start_train").addEventListener("click", function () {
            fetch("/api/movement/nao_train_move", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#stop_train").addEventListener("click", function () {
            fetch("/api/movement/nao_train_move", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#stand").addEventListener("click", function () {
            fetch("/api/movement/stand", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        // Funzioni per i tasti del joystick
        document.querySelector("#start").addEventListener("click", function () {
            fetch("/api/movement/start", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#sinistra").addEventListener("click", function () {
            fetch("/api/movement/left", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#stop").addEventListener("click", function () {
            fetch("/api/movement/stop", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#destra").addEventListener("click", function () {
            fetch("/api/movement/right", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        document.querySelector("#back").addEventListener("click", function () {
            fetch("/api/movement/back", { method: "GET" })
                .then(response => response.json())
                .then(data => console.log("Risposta API:", data))
                .catch(error => console.error("Errore:", error));
        });

        // Funzioni per inviare testo al NAO
        function inviaTestoAlNAO() {
            const testo = document.getElementById("testoInput").value;
            fetch("/tts_to_nao", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: "message=" + encodeURIComponent(testo)
            })
            .then(response => response.json())
            .then(data => console.log("Testo inviato con successo al NAO!"))
            .catch(error => console.error("Errore:", error));
        }

        function inviaTestoAlNAOai() {
            const testo = document.getElementById("testoInput_ai").value;
            fetch("/tts_to_nao_ai", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: "message_ai=" + encodeURIComponent(testo)
            })
            .then(response => response.json())
            .then(data => console.log("Testo inviato con successo al NAO con AI!"))
            .catch(error => console.error("Errore:", error));
        }

        document.addEventListener('DOMContentLoaded', function() {
            const naoBtn = document.getElementById('nao-cam-btn');
            const arucoBtn = document.getElementById('aruco-cam-btn');
            const naoCam = document.getElementById('nao-cam');
            const arucoCam = document.getElementById('aruco-cam');

            function toggleCam(selectedCam) {
                if((selectedCam === 'nao' && naoCam.classList.contains('active')) || 
                (selectedCam === 'aruco' && arucoCam.classList.contains('active'))) {
                    naoCam.classList.remove('active');
                    arucoCam.classList.remove('active');
                    naoBtn.classList.remove('active');
                    arucoBtn.classList.remove('active');
                    return;
                }
                
                        naoCam.classList.remove('active');
                        arucoCam.classList.remove('active');
                        naoBtn.classList.remove('active');
                        arucoBtn.classList.remove('active');
                        
                        if(selectedCam === 'nao') {
                            naoCam.classList.add('active');
                            naoBtn.classList.add('active');
                        } else {
                            arucoCam.classList.add('active');
                            arucoBtn.classList.add('active');
                        }
                    }

                    naoBtn.addEventListener('click', () => toggleCam('nao'));
                    arucoBtn.addEventListener('click', () => toggleCam('aruco'));
                });
    </script>
</body>
</html>