<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Match</title>
    <link rel="website icon" type="png" href="{{ url_for('static', filename='img/logo_v1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Collega il file CSS -->
</head>
<body>
    <!-- barra superiore-->
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_con_scritta.png') }}" alt="BetterNao Logo">
        </div>
        <div class="top-bar-buttons">
            <button id="home" class="btn btn-logout">Home</button>
            <button id="logout" class="btn btn-logout">Logout</button>
        </div>
    </div>
    
    <!--main-->
    <div class = "main-content">
        <div id ="webcam_feed" class = "joystick-panel">
        </div>
        <script> const computer_visionUrl = "{{url_for('computer_vision')}}"</script>
        <div>
            <button id="nao-cam-btn" class="btn btn-joystick" onclick="computer_vision()">Partita</button>
        </div>
    </div>


    <!--javascript-->
    <script src = "{{ url_for('static', filename='script/script.js') }}">
    </script>
</body>
</html>