<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nao-artemis</title>
    <link rel="website icon" type="png" href="{{ url_for('static', filename='img/logo_v1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Barra superiore -->
    <div class="top-bar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_con_scritta.png') }}" alt="BetterNao Logo">
        </div>
        <div class="top-bar-buttons">
            <button id="home" class="btn btn-logout">Home</button>
            <button id="logout" class="btn btn-logout">Logout</button>
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <h1 class="main-text">Creazione account</h1>
        <div class="container_creazione_account">
        <p id = "d1", class ="text"></p>
        <form mothod="post" action="/">
            <input type="text" name="nome" id="nome" placeholder="Nome" required>
            <input type="text" name="cognome" id="cognome" placeholder="Cognome" required>
            <input type="text" list="posizioni" name="posizione" id="posizione" placeholder="Posizione" required>
            <datalist id="posizioni">
            <option value="laterale destro">
            <option value="laterale sinistro">
            <option value="centrale">
            <option value="pivot">
            <option value="portiere">
            </datalist>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button id="crea_account" class="btn btn-joystick">crea</button>
        </form>
        </div> 
    </div>

    <!-- Javascript -->
    <script>
        document.querySelector("#logout").addEventListener("click", function() {
            fetch("/logout", { method: "GET" })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(error => console.error("Errore:", error));
        });
        
        document.querySelector("#home").addEventListener("click", function() {
            fetch("/home", { method: "GET" })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    window.location.href = "/home";
                }
            })
            .catch(error => console.error("Errore:", error));
        });

        let nome, cognome, posizione, username, password;
        
        function salvaDatiGlobali() {
        nome     = document.getElementById('nome').value;
        cognome  = document.getElementById('cognome').value;
        posizione = document.getElementById('posizione').value;
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        }

        document.querySelector("#crea_account").addEventListener("click", function() {
            salvaDatiGlobali();
            fetch(`/api/app/utenti/${userId}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: username,
                password: password,
                nome: nome,
                cognome: cognome,
                posizione: posizione
            })
            })
            .then(response => response.json())
            .then(data => {
                if (data.code == 200){
                    document.getElementById("d1").innerHTML = " account registrato con sucesso"
                }
                else{
                    document.getElementById("d1").innerHTML = "Errore"
                }
            })
            .catch(error => console.error("Errore:", error));
        });
    </script>
</body>
</html>