flask
flask_login
flask-cors
numpy
requests
opencv-python
opencv-python-headless
SpeechRecognition
paramiko
psycopg2
psycopg2-binary
PyYAML
scikit-learn
matplotlib
scipy
supervision
ultralytics
openai
whisper
